<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-sketch"
      version="0.1.0">

    <name>Sketch</name>
    <description>Cordova Sketch Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,sketch,signature,draw</keywords>

    <js-module src="www/sketch.js" name="sketch">
        <clobbers target="navigator.sketch" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SketchPlugin">
                <param name="android-package"
                    value="au.com.blinkmobile.cordova.sketch.Sketch"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="au.com.blinkmobile.cordova.sketch.TouchDrawActivity"
                android:configChanges="orientation|screenSize" >
            </activity>
        </config-file>
        <!-- Required for saving generated sketches to the photo library -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/Sketch.java"
            target-dir="src/au/com/blinkmobile/cordova/sketch" />
        <source-file src="src/android/TouchDrawActivity.java"
            target-dir="src/au/com/blinkmobile/cordova/sketch" />
    </platform>

</plugin>
